<div class="col l4">
    <div id="profile-analytics" class="card">
        <div class="card-content">
            <div class="name-and-handle">
                <div class="name valign-wrapper" style="justify-content:space-between">
                    <div class="group-1 center-children">
                        <p class="author circle blue"></p>
                        <h4><%= user.name %></h4>
                    </div>
                    <% if user != current_user%>
                        <% if !@is_following %>
                        <%# for some reason, question mark at the end of method name causes a syntax error. Will try parentheses next time %>
                            <%= link_to 'Follow', {controller: "users", action: "follow", user: user}, method: :post, class: 'btn btn-small blue' %> 
                        <% else %>
                            <%= link_to 'Unfollow', {controller: "users", action: "unfollow", user: user}, method: :post, class: 'btn btn-small blue' %> 
                        <% end %>
                    <% end %>
                </div>

                <div><small>@<%= user.username %></small></div>
            </div>

            <div class="stats">
                <div> <strong>Tweets</strong> <br> <%= user.tweeets.count%></div>
                <div> <strong>Following</strong> <br> <%= user.follows.count %></div>
                <div> <strong>Followers</strong> <br> <%= Follow.where(is_following: user.id).count %></div>
            </div>
        </div>
    </div>
</div>